<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- List of environment variables we want to set-->
      <RedisTestEndpoint>10.20.25.58</RedisTestEndpoint>
      <RedisTestPassword></RedisTestPassword>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>